**/*.db
**/*.proptest-regressions
**/cargo-target
**/target
.webrtc-sys/
**/venv
**/.direnv
*.wasm
*.xcodeproj
.DS_Store
.blob_store
.build
.claude/settings.local.json
.envrc
.flatpak-builder
.idea
.netrc
*.pyc
.pytest_cache
.swiftpm
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.venv
.vscode
.wrangler
.perf-runs

# Don't commit any secrets to the repo.
.env
.env.secret.toml

# `nix build` output
/result
